.newicon {
    display: inline-block;
    vertical-align: text-bottom;
    background-size: 100% 100%;
    width: 14px;
    height:14px;
}
.newicon-safety-danger { background: url('safety_danger.png') no-repeat center/cover; }
.newicon-new-media { background: url('./01-new_media.png') no-repeat center/cover; }
.newicon-wechat-manage { background: url('./01-1-wechat_manage.png') no-repeat center/cover; }
.newicon-account-manage { background: url('./01-1-1-account-manage.png') no-repeat center/cover; }
.newicon-fans-manage { background: url('./01-1-2-fans-manage.png') no-repeat center/cover; }
.newicon-source-manage { background: url('./01-1-3-source-manage.png') no-repeat center/cover; }
.newicon-menu-manage { background: url('./01-1-4-menu-manage.png') no-repeat center/cover; }
.newicon-keyword-manage { background: url('./01-1-5-keyword-manage.png') no-repeat center/cover; }
.newicon-template-message { background: url('./01-1-6-template-message.png') no-repeat center/cover; }
.newicon-QRcode-manage { background: url('./01-1-7-QRcode-manage.png') no-repeat center/cover; }
.newicon-dev-setting { background: url('./01-1-8-dev-setting.png') no-repeat center/cover; }
.newicon-wechat-redpacket { background: url('./01-1-9-wechat-redpacket.png') no-repeat center/cover; }
.newicon-cms-manage { background: url('./02-cms-manage.png') no-repeat center/cover; }
.newicon-cms-application { background: url('./02-1-cms-application.png') no-repeat center/cover; }
.newicon-column-manage { background: url('./02-1-1-column-manage.png') no-repeat center/cover; }
.newicon-column-jurisdiction { background: url('./02-1-1-1-column-jurisdiction.png') no-repeat center/cover; }
.newicon-content-manage { background: url('./02-1-2-content-manage.png') no-repeat center/cover; }
.newicon-important-message { background: url('./02-1-3-important-message.png') no-repeat center/cover; }
.newicon-special-manage { background: url('./02-1-4-special-manage.png') no-repeat center/cover; }
.newicon-words-manage { background: url('./02-1-5-words-manage.png') no-repeat center/cover; }
.newicon-label-manage { background: url('./02-1-5-1-label-manage.png') no-repeat center/cover; }
.newicon-sensitive-manage { background: url('./02-1-5-2-sensitive-manage.png') no-repeat center/cover; }
.newicon-root-source { background: url('./02-1-5-3-root-source.png') no-repeat center/cover; }
.newicon-hotword-manage { background: url('./02-1-5-4-hotword-manage.png') no-repeat center/cover; }
.newicon-interact-manage { background: url('./02-1-6-interact-manage.png') no-repeat center/cover; }
.newicon-statistical-analysis { background: url('./02-1-7-statistical-analysis.png') no-repeat center/cover; }
.newicon-column-content { background: url('./02-1-7-1-column-content.png') no-repeat center/cover; }
.newicon-author-count { background: url('./02-1-7-2-author-count.png') no-repeat center/cover; }
.newicon-comment-count { background: url('./02-1-7-3-comment-count.png') no-repeat center/cover; }
.newicon-column-visit { background: url('./02-1-7-4-column-visit.png') no-repeat center/cover; }
.newicon-root-analysis { background: url('./02-1-7-5-root-analysis.png') no-repeat center/cover; }
.newicon-click-rank { background: url('./02-1-7-6-click-rank.png') no-repeat center/cover; }
.newicon-comment-rank { background: url('./02-1-7-7-comment-rank.png') no-repeat center/cover; }
.newicon-fighting-rank { background: url('./02-1-7-8-fighting-rank.png') no-repeat center/cover; }
.newicon-system-configure { background: url('./02-1-8-system-configure.png') no-repeat center/cover; }
.newicon-content-recycle { background: url('./02-1-9-content-recycle.png') no-repeat center/cover; }
.newicon-shopping-mall { background: url('./03-shopping-mall.png') no-repeat center/cover; }
.newicon-integral-shopping { background: url('./03-1-integral-shopping.png') no-repeat center/cover; }
.newicon-commodity-class { background: url('./03-1-1-commodity-class.png') no-repeat center/cover; }
.newicon-commodity-manage { background: url('./03-1-2-commodity-manage.png') no-repeat center/cover; }
.newicon-commodity-recycle { background: url('./03-1-3-commodity-recycle.png') no-repeat center/cover; }
.newicon-order-manage { background: url('./03-1-4-order-manage.png') no-repeat center/cover; }
.newicon-statistical-analysis3 { background: url('./03-1-5-statistical-analysis3.png') no-repeat center/cover; }
.newicon-sale-rank { background: url('./03-1-5-1-sale-rank.png') no-repeat center/cover; }
.newicon-commodity-evaluate { background: url('./03-1-5-2-commodity-evaluate.png') no-repeat center/cover; }
.newicon-product-class { background: url('./03-1-5-3-product-class.png') no-repeat center/cover; }
.newicon-system-configure3 { background: url('./03-1-6-system-configure3.png') no-repeat center/cover; }
.newicon-commodity-system { background: url('./03-1-6-1-commodity-system.png') no-repeat center/cover; }
.newicon-order-setting { background: url('./03-1-6-2-order-setting.png') no-repeat center/cover; }
.newicon-interact-center { background: url('./04-interact-center.png') no-repeat center/cover; }
.newicon-dynamic-form { background: url('./04-1-dynamic-form.png') no-repeat center/cover; }
.newicon-form-manage { background: url('./04-1-1-form-manage.png') no-repeat center/cover; }
.newicon-tag-manage { background: url('./04-1-2-tag-manage.png') no-repeat center/cover; }
.newicon-mobile-gov { background: url('./05-mobile-gov.png') no-repeat center/cover; }
.newicon-train-manage { background: url('./05-1-train-manage.png') no-repeat center/cover; }
.newicon-activity-manage { background: url('./05-1-1-activity-manage.png') no-repeat center/cover; }
.newicon-class-manage1 { background: url('./05-1-2-class-manage1.png') no-repeat center/cover; }
.newicon-interact-manage1 { background: url('./05-1-3-interact-manage1.png') no-repeat center/cover; }
.newicon-online-class { background: url('./05-2-online-class.png') no-repeat center/cover; }
.newicon-class-manage2 { background: url('./05-2-1-class-manage2.png') no-repeat center/cover; }
.newicon-course-center { background: url('./05-2-2-course-center.png') no-repeat center/cover; }
.newicon-course-recycle { background: url('./05-2-3-course-recycle.png') no-repeat center/cover; }
.newicon-enroll-manage { background: url('./05-2-4-enroll-manage.png') no-repeat center/cover; }
.newicon-interact-manage2 { background: url('./05-2-5-interact-manage2.png') no-repeat center/cover; }
.newicon-leave-message { background: url('./05-2-5-1-leave-message.png') no-repeat center/cover; }
.newicon-evaluate-manage { background: url('./05-2-5-2-evaluate-manage.png') no-repeat center/cover; }
.newicon-census-analyse { background: url('./05-2-6-census-analyse.png') no-repeat center/cover; }
.newicon-course-analyse { background: url('./05-2-6-1course-analyse.png') no-repeat center/cover; }
.newicon-click-rank1 { background: url('./05-2-6-2-click-rank1.png') no-repeat center/cover; }
.newicon-comment-rank1 { background: url('./05-2-6-3-comment-rank1.png') no-repeat center/cover; }
.newicon-score-rank { background: url('./05-2-6-4-score-rank.png') no-repeat center/cover; }
.newicon-system-configure5 { background: url('./05-2-7-system-configure5.png') no-repeat center/cover; }
.newicon-safety-danger1 { background: url('./05-3-1-safety-danger.png') no-repeat center/cover; }
.newicon-class-manage3 { background: url('./05-3-2-class-manage3.png') no-repeat center/cover; }
.newicon-safety-message { background: url('./05-4-safety-message.png') no-repeat center/cover; }
.newicon-business-manage { background: url('./05-4-1-business-manage.png') no-repeat center/cover; }
.newicon-personal-manage { background: url('./05-4-2-personal-manage.png') no-repeat center/cover; }
.newicon-platform-manage { background: url('./06-platform-manage.png') no-repeat center/cover; }
.newicon-system-manage { background: url('./06-1-system-manage.png') no-repeat center/cover; }
.newicon-power-manage { background: url('./06-1-1-power-manage.png') no-repeat center/cover; }
.newicon-role-manage { background: url('./06-1-2-role-manage.png') no-repeat center/cover; }
.newicon-user-manage { background: url('./06-1-3-user-manage.png') no-repeat center/cover; }
.newicon-menu-manage1 { background: url('./06-1-4-menu-manage1.png') no-repeat center/cover; }
.newicon-dictionary-manage { background: url('./06-1-5-dictionary-manage.png') no-repeat center/cover; }
.newicon-organize-manage { background: url('./06-2-organize-manage.png') no-repeat center/cover; }
.newicon-organize-structure { background: url('./06-2-1-organize-structure.png') no-repeat center/cover; }
.newicon-job-manage { background: url('./06-2-2-job-manage.png') no-repeat center/cover; }
.newicon-province-manage { background: url('./06-2-3-province-manage.png') no-repeat center/cover; }
.newicon-source-manage1 { background: url('./06-3-source-manage1.png') no-repeat center/cover; }
.newicon-files-source { background: url('./06-3-1-files-source.png') no-repeat center/cover; }
.newicon-adv-manage { background: url('./06-4-adv-manage.png') no-repeat center/cover; }
.newicon-point-manage { background: url('./06-4-1-point-manage.png') no-repeat center/cover; }
.newicon-advcontent-manage { background: url('./06-4-2-advcontent-manage.png') no-repeat center/cover; }
.newicon-count-report { background: url('./06-4-3-count-report.png') no-repeat center/cover; }